html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #F3F3F4;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom styles*/

.container {
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    /* padding: 1rem; */
    /* gap: 20px; */
    /* margin: 1rem; */
}

/* .left_container{
    box-shadow: -2px 3px 6px -3px green;
} */

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    padding: 1rem;
    margin: 0.2rem;
    background-color: #FEFEFE;
}

.flex-cart {
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    background-color: #FEFEFE;
}

.head {
    justify-content: space-between;
    margin-bottom: 0;
}



.shadow-image {
    height: 5rem;
    width: 5rem;
    background-color: #F7F7F8;
    margin-left: 1rem;
    margin-right: 1rem;

}

.heading {
    color: #43C1A7;
    /* padding-top: 0.5rem; */
    padding-bottom: 0.6rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.para {
    padding-bottom: 0.5rem;
}

.description {
    font-weight: bold;
}



.gifts {
    display: flex;
}

.vertical {
    height: 1em;
    width: 0.1em;
    background-color: grey;
    margin-left: 0.3rem;
    margin-right: 0.3rem;

}

.fa-gift {
    padding-right: 0.3rem;
}

.fa-regular {
    padding-right: 0.3rem;
}

.middle {
    font-size: smaller;

    flex-basis: 35rem;
}

.price {

    display: flex;
    font-size: small;
    flex-basis: 18rem;
    justify-content: space-around;
}

.cost {
    display: flex;
    flex-direction: column;

}

.amount {
    font-size: x-small;
    padding: 0.4rem;
}

.cost-second {
    display: flex;
    flex-direction: row;
}

.second {
    font-size: x-small;
    padding-top: 0.1rem;
    padding-left: 0.2rem;

}

#quantity {
    width: 2rem;
    height: 1.7rem;
}

.fa-arrow-left,
.fa-cart-shopping {
    padding-right: 0.3rem;
}

.fa-cart-shopping {
    color: white;
}

.shop {
    background-color: white;

    border-radius: 0 0.3rem 0.3rem 0;

    height: 2rem;
    border: 1px solid grey;
    margin: 0;
}

.shop-left {
    background-color: white;
    border-radius: 0.3rem;

    height: 2rem;
    border: 1px solid grey;
    margin: 0;
}

.checkout {
    background-color: #43C1A7;
    border-radius: 0.3rem 0 0 0.3rem;
    height: 2rem;
    border: transparent;
    margin: 0;
    color: white;

}

.checkout-left {
    background-color: #43C1A7;
    border-radius: 0.3rem;
    height: 2rem;
    border: transparent;
    margin: 0;
    color: white;

}

.right-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin: 0.5rem;

}

.summary {
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
}

.check {
    font-weight: bold;
    font-size: 1.5rem;
}

.last {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.details {
    display: flex;
    gap: 0;
}

.value {
    font-weight: bold;
}

@media screen and (max-width: 476px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 1.5rem;
    }

    .middle {
        flex-basis: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .price {
        flex-basis: 0;
        display: flex;
        gap: 20px;
    }

    .right-container {
        display: flex;
        flex-direction: column;

    }

    .summary {
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .content {
        align-items: center;
        gap: 10px;
    }

    p {
        line-height: 1.2rem;
    }

    .description {
        padding: 0.6rem;
    }

    .gifts {
        /* gap:10px; */
        padding-top: 1rem;
    }



}